.account-details {
    display: grid;
    column-gap: 2rem;
    align-items: start;
}

.routeCharges lightning-input {
    --slds-c-input-radius-border: 1rem;
    --slds-c-input-color-border: #104fff;
    --slds-c-input-color-border-focus: #0176d3;
}

.routeCharges lightning-input input {
    border-radius: 1rem !important;
    border-color: #104fff !important;
}

.routeCharges lightning-input input:focus {
    border-color: #0176d3 !important;
    box-shadow: 0 0 0 2px rgba(1, 118, 211, 0.1) !important;
}

.routeCharges {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
}

@media (max-width: 768px) {
    .account-details {
        grid-template-columns: 1fr;
    }
    
    .routeCharges {
        grid-template-columns: 1fr;
    }
}